body {
  color: #00394d;
  background: #fdfdfd;
}

img {
  width: 120px;
  height: 60px;
  float: left;
}

img.center {
  width:80%;
  height:100%;
  margin:auto;
  display:block;
  float: none;
}

h1.center {
  text-align: center;
}

h3 {
  padding-bottom: 0;
  margin-bottom: 2px;
}

form {
  background: #e6e6e6;
  border: dashed black 1px;
  padding: 18px;
}

li {
    font-size: 1.2em;
}

a {
  color:#a67911;
}

a:hover {
  color: #06400e;
}
