<h1>Technologies</h1>

#foreach ($technology in $technologies)
  <a href="/technologies/$technology.getId()"><li>$technology.getName()</li></a>
#end
<h3>Add a new technology</h3>
<form action='/result' method='post'>
  <div class="form-group">
    <label for="name">Name: </label>
    <input id="name" name="name" class="form-control" type="text">
  </div>

  <button type='submit' class='btn'>Add</button>
</form>
