<!DOCTYPE html>
<html>
  <head>
    <title>Programmer Resource Reviews</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <a href="/"><h1 class="center">Programmer Resource Reviews</h1>
    <img src="/images/javaheader.png" class="center"></a>
    <div class="container">
      #parse( $template )
    </div>
  </body>
</html>
